<1Doctype html>
<html> 
<head>
	<meta charset="UTF-8">
	body{
	background:#7972FD;
}
p.vermelho{
	color:red;
	text-align:center;
	font-family:calibri;
}
p.branco{
	color:white;
	text-align:right;
	font-family:calibri;
}
     






</html>